@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    color: #000;
    font-family: Poppins;
}
body h1{
    color: rgba(50, 212, 227, 1);
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
}

body h2{
    font-style: italic;
    text-align: left;
    text-decoration: underline;
}
.titulos{
    color:deeppink

}

header{
   border: solid;
   width: 80%;
   margin: 45px auto;

}

header div{
    background-color: beige;
}
header div img{
    height: 28px;
}

footer img{
    height: 48px;
}